#big {
    font-size: 5.8rem;
    /*background: linear-gradient(to bottom, #80e8ff 0%,  #b6d4ff 50%, #0fc3fa 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
    transition: font-size .25s linear; 
    -o-transition: font-size .25s linear; 
    -moz-transition: font-size .25s linear; 
    -webkit-transition: font-size .25s linear;*/
}

h1 {
    font-size: 2.3rem;
    line-height: 2.3rem;
    margin-top: 7rem;
    color: #ff80c6;
    max-width: 400px;
}

h2 {
    margin-bottom: calc(var(--margin)*2);
}

h3 {
    margin-left: var(--margin);
    margin-right: var(--margin);
    text-shadow: 0 0 ;
}

p {
    font-weight: 200;
    margin-left: var(--margin);
    margin-right:var(--margin);
    margin-top: var(--margin);
}

p a {
    color: aquamarine;
    font-style: italic;
    font-weight: 300;
}

blockquote {
    color: var(--font-color);
    font-family: var(--font-display);
    font-size: 1.5rem;
    font-style: italic;
    font-weight: 500;
    margin-left: var(--margin);
    margin-right: var(--margin);
    margin-top: calc(var(--margin) * 2);
    margin-bottom: calc(var(--margin) * 2);
}

ul {
    margin-left: 0;
    margin-right: 0;
}

li {
    margin-top: calc(var(--margin) * 2);
    margin-bottom: calc(var(--margin) * 2.5);
}

li:nth-child(3){
    margin-bottom: calc(var(--margin) * 2);
}

li p {
    padding:0;
    border: none;
    /*box-shadow:  4px 4px 2px rgb(58, 0, 144);*/
}

li section {
    border: 2px solid aliceblue;
    border-radius: 10px;
    margin: var(--margin);
    padding-bottom: var(--margin);
}

#title1 {
    text-shadow: 4px 4px  rgb(62, 62, 244);
}

#title2 {
    text-shadow: 4px 4px rgba(255, 86, 199, 0.81);
}

#title3 {
    text-shadow: 4px 4px rgb(159, 118, 255);
}

#lightandspace {
    animation-name: lighandshadow;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#vaporwave {
    animation-name: vaporshadow;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#bisexual {
    transition: transform 1s ease;
    animation-name: bishadow;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    margin-bottom: calc(var(--margin) * 3) ;
}

@keyframes lighandshadow {
    0% {
        box-shadow:6px 6px 2px rgb(62, 62, 244);
    }
    25% {
        box-shadow:8px 8px 2px rgb(62, 86, 244);
    }
    50% {
        box-shadow:10px 10px 2px rgb(99, 161, 255);
    }
    75% {
        box-shadow:8px 8px 2px rgb(99, 226, 255);
    }
    100% {
        box-shadow:6px 6px 2px rgb(100, 149, 255);
    }
  } 

@keyframes vaporshadow {
    0% {
        box-shadow:6px 6px 2px rgb(255, 86, 199);
    }
    25% {
        box-shadow:8px 8px 2px rgb(255, 86, 221);
    }
    50% {
        box-shadow:10px 10px 2px rgb(241, 86, 255);
    }
    75% {
        box-shadow:8px 8px 2px rgb(204, 86, 255);
    }
    100% {
        box-shadow:6px 6px 2px rgba(255, 86, 162, 0.81);
    }
  } 

@keyframes bishadow {
    0% {
        box-shadow:6px 6px 2px rgb(159, 118, 255);
    }
    25% {
        box-shadow:8px 8px 2px rgb(187, 118, 255);
    }
    50% {
        box-shadow:10px 10px 2px rgb(193, 118, 255);
    }
    75% {
        box-shadow:8px 8px 2px rgb(230, 118, 255);
    }
    100% {
        box-shadow:6px 6px 2px rgb(139, 118, 255);
    }
  } 

#sub {
    font-style: italic;
    font-weight: 500;
    margin-bottom: var(--margin);
}

.question {
    font-weight: 400;
    font-size: larger;
}

#res {
    text-shadow: 4px 4px rgb(141, 141, 141);
}

#response {
    border: 2px dashed aliceblue;
    border-radius: 10px;
    margin: var(--margin);
    padding-bottom: var(--margin);
}

@media screen and (min-width:600px) {

    #big {
        font-size: 8rem;
    }
    
    h1 {
        font-size: 3.2rem;
        line-height: 3.2rem;
        margin-left: 4rem;
        margin-right: 4rem;
        margin-top: calc(var(--margin) * 8);
        max-width: 600px;
    }

    h2 {
        margin-top: 2rem;
    }

    h3, p, li section {
        margin-left: 4rem;
        margin-right: 4rem;
    }

    li {
        margin-top: calc(var(--margin) * 3);
    }

    li:nth-child(3) {
        margin-bottom: calc(var(--margin) * 3) ;
    }

    li p {
        margin-left: var(--margin);
        margin-right: var(--margin);
    }

    li section, #response {
        max-width: 700px;
    }

    blockquote {
        margin-left: 3rem;
        margin-right: 3rem;
        max-width: 750px;
    }
    
    #response p {
        margin-left: var(--margin);
        margin-right: var(--margin);
    }

    #response {
        margin-left: 4rem;
        margin-right: 4rem;
    }
}

@media screen and (min-width:1280px) {
    
    html, body, .col1, .col2 {
        height: 100%;
      }
      
      body {
        margin: 0;
      }
      
      .col1, .col2 {
        width: 50%;
      }
      
      .col1 {
        background-color: pink;
        position: fixed;
        left: 0;
        top: 0;
        animation-name: backgroundani;
        animation-duration: 6s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
      }
      
      .col2 {
       
        margin-left: 50%;
        overflow: auto;
      }
      
      @keyframes backgroundani {
        0% {
            background-color: #fed2ec;
        }
        25% {
            background-color: #b3dbd3;
        }
        50% {
            background-color: #abddff;
        }
        75% {
            background-color: #d4cfff;
        }
        100% {
          background-color: #f4d6db;
        }
      } 

    #big {
        font-size: 10rem;
    }

    h1 {
        text-align: center;
        font-size: 6rem;
        line-height: 6rem;
        margin: auto;
        margin-top: 8rem;
        max-width: 900px;
    }

    h2 {
        margin:auto;
        margin-top: 3rem;
    }

    .desktop {
        margin: auto;
        margin-top: 8rem;
    }

    #response {
        margin-left: 6rem;
        margin-right: 6rem;
    }

    h3, p, li section {
        margin-left: 6rem;
        margin-right: 6rem;
    }

    blockquote {
        margin: auto;
        margin-top: 2rem;
        margin-left: 2rem;
        margin-right: 2rem;
        margin-bottom: 2rem;
    }

}