#homage_one {
    color: rgb(255, 187, 0);
}

#homage_two {
    color: rgb(255, 215, 104);
}

#homage_three {
    color: rgb(255, 235, 181);
}

h1{
    font-size: 4.5rem;
    line-height: 4.2rem;
    max-width: 400px;
}

h2 {
    margin-bottom: calc(var(--margin)*2);
    min-width: 350px;
    max-width: 500px;
}

p {
    font-weight: 200;
    margin-left: var(--margin);
    margin-right:var(--margin);
    margin-top: var(--margin);
}

#last {
    margin-bottom: 2rem;
}

@media screen and (min-width:600px) {

    h1 {
        font-size: 7rem;
        line-height: 6.5rem;
        margin-top: 2rem;
        min-width: 600px;
        max-width: 800px;
        margin-top: calc(var(--margin) * 6);
    }

    p {
        margin-left: 4rem;
        margin-right: 4rem;
    }
}

@media screen and (min-width:1280px) {

    html, body, .col1, .col2 {
        height: 100%;
      }
      
      body {
        margin: 0;
      }
      
      .col1, .col2 {
        width: 50%;
      }
      
      .col1 {
        background-color: rgb(255, 230, 192);
        position: fixed;
        left: 0;
        top: 0;
        animation-name: backgroundanima;
        animation-duration: 6s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
      }
      
      @keyframes backgroundanima {
        0% {
            background-color: rgb(255, 187, 0);
        }
        25% {
            background-color: #b3dbd3;
        }
        50% {
            background-color: rgb(255, 215, 104);
        }
        75% {
            background-color: #d4cfff;
        }
        100% {
          background-color: rgb(255, 235, 181);
        }
      } 
      .col2 {
       
        margin-left: 50%;
        overflow: auto;
      }

    .desktop {
        margin: auto;
        margin-top: 8rem;
        margin-left: 3rem;
        margin-right: 3rem;
    }

    h1 {
        font-size: 7.5rem;
        line-height: 7.2rem;
        margin-top: calc(var(--margin) * 8);
    }

    #backtotop {
        display: none;
    }
    
}