#homage_one {
    color: rgb(255, 187, 0);
}

#homage_two {
    color: rgb(255, 215, 104);
}

#homage_three {
    color: rgb(255, 235, 181);
}

h1{
    font-size: 4.5rem;
    line-height: 4.2rem;
    max-width: 400px;
}

h2 {
    margin-bottom: calc(var(--margin)*2);
    min-width: 350px;
    max-width: 500px;
}

p {
    font-weight: 200;
    margin-left: var(--margin);
    margin-right:var(--margin);
    margin-top: var(--margin);
}

#last {
    margin-bottom: 2rem;
}

@media screen and (min-width:600px) {

    h1 {
        font-size: 7rem;
        line-height: 6.5rem;
        margin-top: 2rem;
        min-width: 600px;
        max-width: 800px;
        margin-top: calc(var(--margin) * 6);
    }

    p {
        margin-left: 4rem;
        margin-right: 4rem;
    }
}

@media screen and (min-width:1280px) {

    .desktop {
        width: 700px;
        margin: auto;
    }

    h1 {
        font-size: 9rem;
        line-height: 8rem;
        margin-top: calc(var(--margin) * 7);
        margin-left: calc(var(--margin) * 19) ;
    }

}